{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignore": [
                "WyriHaximus\\Composer\\BinAutoloadPathUpdater::getSubscribedEvents"
            ]
        },
        "UnwrapRtrim": {
            "ignore": [
                "WyriHaximus\\Composer\\BinAutoloadPathUpdater::getRelativePath"
            ]
        },
        "UnwrapStrReplace": {
            "ignore": [
                "WyriHaximus\\Composer\\BinAutoloadPathUpdater::getRelativePath"
            ]
        },
        "GreaterThanOrEqualTo": {
            "ignore": [
                "WyriHaximus\\Composer\\BinAutoloadPathUpdater::getRelativePath"
            ]
        },
        "Multiplication": {
            "ignore": [
                "WyriHaximus\\Composer\\BinAutoloadPathUpdater::getRelativePath"
            ]
        }
    }
}
